In [7]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [8]:
data=pd.read_csv("Istanbul_Stock_Market.csv")
data

,TL BASED ISE,USD BASED ISE,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
0,0.035754,0.038376,NaN,NaN,0.003894,0.000000,0.031190,0.012698,0.028524
1,0.025426,NaN,0.007787,0.008455,0.012866,0.004162,0.018920,NaN,0.008773
2,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,NaN,-0.035899,-0.017073,-0.020015
3,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
4,NaN,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802
...,...,...,...,...,...,...,...,...,...
531,0.008599,0.013400,0.006238,0.001925,0.007952,0.005717,0.018371,NaN,0.003039
532,0.009310,0.015977,0.003071,-0.001186,0.000345,0.002620,0.001686,NaN,0.001039
533,0.000191,-0.001653,0.001923,0.002872,-0.000723,0.000568,0.005628,0.000572,0.006938
534,-0.013069,-0.013706,-0.020742,-0.014239,NaN,0.001358,NaN,-0.012615,-0.000958
535,NaN,-0.019442,0.000000,-0.000473,-0.002997,-0.017920,-0.012252,-0.005465,-0.014297

In [9]:
data.isnull().sum()

TL BASED ISE     54
USD BASED ISE    54
SP               54
DAX              54
FTSE             54
NIKKEI           54
BOVESPA          54
EU               54
EM               54
dtype: int64

In [13]:
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer=imputer.fit(data)
data=imputer.transform(data)
data

array([[ 2.20495146e+00,  1.87406619e+00,  0.00000000e+00, ...,
         1.97303958e+00,  9.83351659e-01,  2.68415416e+00],
       [ 1.54137508e+00,  0.00000000e+00,  5.32529196e-01, ...,
         1.16967005e+00, -4.36545387e-18,  7.59421220e-01],
       [-1.94667169e+00, -1.40639643e+00, -2.29162410e+00, ...,
        -2.41931991e+00, -1.41404627e+00, -2.04585573e+00],
       ...,
       [-7.99992412e-02, -1.54586123e-01,  9.96450494e-02, ...,
         2.99454419e-01,  6.82671061e-03,  5.80630377e-01],
       [-9.31971688e-01, -7.65449705e-01, -1.57355171e+00, ...,
        -1.41967224e-17, -1.05509362e+00, -1.88764053e-01],
       [-1.39322706e-17, -1.05614223e+00, -4.23091406e-02, ...,
        -8.71129844e-01, -4.79280461e-01, -1.48861342e+00]])

In [12]:
scaler=StandardScaler()
data=scaler.fit_transform(data)
data

array([[ 2.20495146e+00,  1.87406619e+00,  0.00000000e+00, ...,
         1.97303958e+00,  9.83351659e-01,  2.68415416e+00],
       [ 1.54137508e+00,  0.00000000e+00,  5.32529196e-01, ...,
         1.16967005e+00, -4.36545387e-18,  7.59421220e-01],
       [-1.94667169e+00, -1.40639643e+00, -2.29162410e+00, ...,
        -2.41931991e+00, -1.41404627e+00, -2.04585573e+00],
       ...,
       [-7.99992412e-02, -1.54586123e-01,  9.96450494e-02, ...,
         2.99454419e-01,  6.82671061e-03,  5.80630377e-01],
       [-9.31971688e-01, -7.65449705e-01, -1.57355171e+00, ...,
        -1.41967224e-17, -1.05509362e+00, -1.88764053e-01],
       [-1.39322706e-17, -1.05614223e+00, -4.23091406e-02, ...,
        -8.71129844e-01, -4.79280461e-01, -1.48861342e+00]])